
.pai{

    
    display: flex;
    height: 100%;
    width: 80%;

}

.filho{

    height: 50%;
    width: 50%;
    margin: auto;

}


button, a{

   font-weight: 5000;
   font-style: italic;
   border-color: rgb(82, 46, 46);
   background-color: rgb(120, 132, 124);
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(142, 230, 11);
   
}



img, p{
    display: inline-block;
}


body{
    margin: 50px;
    background-color: rgb(22, 43, 11);
}

td, p{
    color:  rgb(167, 158, 158);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2,h3, p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(167, 158, 158);
}

#img_redonda{

    height: 400px;
    width: 350px;
    border-radius: 50%;
    border: 5px solid rgb(54, 6, 6);
    display: flex;
    

}